.mealplan {
    display: flex;
    margin: 0 15px;
    margin-bottom: 35px;

    .dayOfWeek {
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #afd7ce;
        justify-content: center;
        width: 100%;

        h2 {
            font-size: 15px;
        }
    }

    .EatItem {
        padding: 15px;
        width: 100%;
        border: 2px solid #ebebeb;

        h2 {
            margin: 0;
            margin-bottom: 5px;
            border-bottom: 2px solid #f6ab8b;

            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .addNewMeal {
            display: flex;
            cursor: pointer;

            img {
                width: 10px;
                margin: 10px auto;

                background: #f6ab8b;
                padding: 8px;
                border-radius: 50px;
            }
        }

        .input-text {
            resize: none;
            outline: none;
            width: 97%;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .mealplan {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 769px) {
    .dayOfWeek {
        h2 {
            transform: rotate(270deg);
            width: 100%;
            justify-content: center;
        }
    }
}